<table>
  <thead>
    <tr>
       <th>Name</th>
       <th>Phone</th>
       <th>Email Address</th>

       </tr>
       </thead>
         {{#each model as |contact|}}
       <tr>
          <td>{{contact.fullName}}</td>
          <td>{{contact.phoneNumber}}</td>
          <td>{{contact.emailAddress}}</td>
          <td>
            {{#link-to 'contacts.show' contact}}Details{{/link-to}}
             {{#link-to 'contacts.edit' contact}}Edit{{/link-to}}
          </td>
          </tr>
        {{/each}}
       </table>
